{% load thumbnail %}

.carousel.slide(id='screenshots')
    if screenshots
        .carousel-inner.screenshots-slider
            for screenshot in screenshots
                div(class="item {% if forloop.first %}active{% endif %}{% if not screenshot.published %} unpublished{% endif %}")
                    div(class="centered-vertical centered")

                        // Screenshot admin menu
                        if user.is_staff
                            div.screenshot-menu
                                if not screenshot.published
                                    {% url 'publish_screenshot' id=screenshot.id as publish_url %}
                                    a.btn(href=publish_url) Publish
                                {% url 'admin:games_screenshot_change' screenshot.id as admin_url %}
                                a.btn(href=admin_url) Admin

                        // Screenshot
                        a(href="/media/{{ screenshot.image }}")
                            {% thumbnail screenshot.image '690x431' as img %}
                            img(src="{{ MEDIA_URL }}/{{ img }}", title="{{ screenshot.description }}")
                            {% endthumbnail %}

        // Next and Previous arrows
        if screenshots.count > 1
            a(class='left carousel-control',href='#screenshots',data-slide='prev')
                span(class="icon-prev") &nbsp;
            a(class='right carousel-control',href='#screenshots',data-slide='next')
                span(class="icon-next") &nbsp;

        // Indicators
        ol(class="carousel-indicators")
            for screenshot in screenshots
                li(class="{% if forloop.first %}active{% endif %}{% if not screenshot.published %} unpublished{% endif %}",
                    data-target="#screenshots",
                    data-slide-to="{{ forloop.counter0 }}")

block scripts
    script
        $(function(){
            $("#screenshots").carousel('cycle');
        })
